<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.mesume.dao.ZtDonateMapper">

    <select id="findDonateGoodList" parameterType="ztGoodsDto" resultType="ztGoodsDto">
        SELECT zc.ID,zg.*,su.`name` as userName,zc.donate_time as donateTime FROM `zt_goods` zg,zt_donate zc,sys_user su WHERE zg.ID = zc.goods_id AND su.username = zc.user_id
        <if test="userName != null">
            AND su.name like CONCAT('%',#{userName},'%')
        </if>
        <if test="name != null">
            AND zg.name = CONCAT('%',#{name},'%')
        </if>
        <if test="userId != null">
            AND zc.user_id = #{userId}
        </if>
        ;
    </select>
</mapper>
