<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.warning.dao.StudentCourseMapper">
    <select id="getCourseByCondition" resultType="com.graduation.warning.entity.OpenCourse">
        SELECT
            eoc.*
        FROM
            student_course esc,
            open_course eoc
        WHERE
            esc.open_course_id = eoc.ID
        AND eoc.term = #{term}
        AND eoc.node_start = #{nodeStart}
        AND eoc.node_end = #{nodeEnd}
        AND esc.student_id = #{studentId}
        AND (
            (#{weekStart} >= eoc.week_start and   eoc.week_end >= #{weekStart})
            OR
            (#{weekEnd} >= eoc.week_start and eoc.week_end >= #{weekEnd})
        )

    </select>
</mapper>
